.sidebar {
  width: 10%;
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  padding: 1.25rem;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar li {
  margin-bottom: 40px;
}