.buttons-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  font-size: 1em;
  padding: 10px 20px;
}
.command-input {
  font-size: 1em;
  padding: 5px;
  margin: 0 10px;
}