body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: White;
  padding: 6px;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  font-size: 18px;
  padding: 12px 24px;
}

.btn-success:hover {
  background-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #a71d2a;
}

#disconnectButtonBercut {
    display: none;
}

#pressButtonBercut {
    display: none;
}

.buttons-wrap {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.pressButton {
    padding: 5px;
    margin-top: 5px;
}

#responseBlock {
    margin-top: 20px;
    border: 1px solid black;
}

.logo {
  display: inline-block;
}

.logo img {
  height: 50px;
  vertical-align: middle;
}

.sidebar {
  width: 10%;
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  padding: 1.25rem;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.Bercut {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.Bercut-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.Bercut-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 40px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-left: 12%;
  padding: 20px;
}

#outputPowerValue {
  border-style: outset;
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
}

#viewOutputPower {
  padding: 10px;
}

.indicator-circle {
  margin-top: 9px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0000;
  margin-right: 5px;
}

.connection-status {
  margin-top: 9px;
  font-weight: bold;
}
